<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397114841675-4sm8aceip2c9af0jrvd4p3jgb7ae9ne1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397114841675-4sm8aceip2c9af0jrvd4p3jgb7ae9ne1</string>
	<key>API_KEY</key>
	<string>AIzaSyADaU2tDAlDABv3ciQLmM5L5yPHKqdImEg</string>
	<key>GCM_SENDER_ID</key>
	<string>397114841675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lc-engineer</string>
	<key>STORAGE_BUCKET</key>
	<string>lc-engineer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397114841675:ios:2c4e0639110b4c4ebf8bce</string>
</dict>
</plist>